/*
 -- Colors --
*/

:root {
  --sfwindow: #0f0f0f;
  --sfsecondary: #1a1110;
}

/*
 -- Tabs --
*/

#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected="true"],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"] {
  background-image: none !important;
  background-color: var(--toolbar-bgcolor) !important;
}

/* Inactive tabs color */
#navigator-toolbox {
  background-color: var(--sfwindow) !important;
}

/* Window colors  */
:root {
  --toolbar-bgcolor: var(--sfwindow) !important;
  --lwt-sidebar-background-color: var(--sfwindow) !important;
}

/* Favicon of new page */
.tab-icon-image[src="chrome://branding/content/icon32.png"]
{
  content: url("icons/foxlogo.svg") !important;
}

/* Disable shadows of the tabs */
.tabbrowser-tab:is([visuallyselected="true"], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
  border-bottom: solid 2px red;
}

.tab-label {
  text-shadow: none !important;
  font-family: CaskaydiaCove Nerd Font;
  font-style: italic;
  font-size: small;
}

.tab-background {
  border-radius: 0px 0px !important;
  margin: 0px !important;
}

/* Remove new tab icon */
#tabs-newtab-button {
  display: none !important;
}

/*
-- Url --
*/

/* Center URL text */
#urlbar .urlbar-input-box {
  text-align: center !important;
}

#urlbar-input-container {
  background-color: var(--sfwindow) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

#urlbar-container {
  margin-left: 0 !important;
}

#urlbar[focused="true"] > #urlbar-background {
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

/* 
-- Arrow icons --
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#back-button image {
  list-style-image: url("icons/back.svg") !important;
}
/* forward - go button */
#forward-button image {
  list-style-image: url("icons/forward.svg") !important;
  padding-inline-start: 5px !important;
}

/*
 -- Remove elements --
*/

/* Remove close button */
.tab-close-button,
#context-navigation {
  display: none;
}
