/* Remove scrollbar */
:root {
  scrollbar-width: none !important;
}

@-moz-document url('about:privatebrowsing') {
  :root {
    scrollbar-width: none !important;
  }
}

/* New tab page */
@-moz-document url('about:home'), url('about:newtab'), url('about:privatebrowsing') {
  body {
    background-image: url("https://raw.githubusercontent.com/jorgeloopzz/Wallpapers/main/0182.jpg");
  }

  .logo {
    background: url("https://raw.githubusercontent.com/jorgeloopzz/My-User-Chrome/master/icons/firefox.png")
      no-repeat center !important;
    background-size: 65px !important;
  }

  /* Remove search bar */
  .search-inner-wrapper {
    display: none !important;
  }

  /* Remove top-right button */
  .icon {
    display: none !important;
  }
}
