/*
 -- Tabs --
*/

/* Remove close button */
.tab-close-button {
  display: none;
}

/* Favicon of new page */
.tab-icon-image[src="chrome://branding/content/icon32.png"]
{
  content: url("icons/foxlogo.svg") !important;
}

/* Disable shadows of the tabs */
.tabbrowser-tab:is([visuallyselected="true"], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}

.tab-label {
  text-shadow: none !important;
  font-family: CaskaydiaCove Nerd Font;
  font-style: italic;
  font-size: small;
}

/* Remove new tab icon */
#tabs-newtab-button {
  display: none !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none;
}

/*
 -- Url --
*/

/* Center URL text */
#urlbar .urlbar-input-box {
  text-align: center !important;
}

/* 
 -- Arrow icons --
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#back-button image {
  list-style-image: url("icons/back.svg") !important;
}
/* forward - go button */
#forward-button image {
  list-style-image: url("icons/forward.svg") !important;
  padding-inline-start: 5px !important;
}

