/* Remove scrollbar */
:root {
  scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}

/* New tab page */
@-moz-document url('about:home'), url('about:newtab'),url(about:privatebrowsing) {
  body {
    background-color: #26233a !important;
  }

  .logo-and-wordmark .logo {
    display: inline-block !important;
  }

  .logo {
    background: url("icons/foxlogo.svg") no-repeat !important;
    background-size: cover !important;
    height: 75px !important;
    width: 75px !important;
  }

  /* Remove search bar */
  .search-inner-wrapper {
    display: none !important;
  }

  /* Remove top-right button */
  .icon {
    display: none !important;
  }
}
