/* New tab page */
@-moz-document url('about:home'), url('about:newtab'), url('about:privatebrowsing') {
  body {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .logo {
    background: url("https://raw.githubusercontent.com/jorgeloopzz/My-User-Chrome/master/icons/firefox.png")
      no-repeat center !important;
    background-size: 65px !important;
  }

  /* Remove search bar */
  .search-inner-wrapper {
    display: none !important;
  }

  /* Remove top-right button */
  .icon {
    display: none !important;
  }
}
